
\#*
*~
.#*
\#*\#
.idea/
.DS_Store
*.class
*.iml
*.idea
*.hprof
*.pyc
/obj
.settings/

# Compiled files
/*/bin
/*/gen

# Properties
/*/local.properties

# Gradle
/app/.gradle/
/app/build/
/app/.idea/
/app/gradle/local.properties

/app/facebook/build/

crashlytics-build.properties
com_crashlytics_export_strings.xml

.gradle/
app/.release.properties.bak
app/.release.properties.values
build/
facebook/build/
local.properties

# fastlane specific
fastlane/report.xml

# fastlane orchestrator_instrumentation_test
fastlane/orchestrator.apk
fastlane/test-services.apk
