
\#*
*~
.#*
\#*\#
.idea/
.DS_Store
*.class
*.iml
*.idea
*.hprof
*.pyc
/obj
.settings/

# Compiled files
/*/bin
/*/gen

# Properties
/*/local.properties

# Gradle
/app/.gradle/
/app/build/
/app/.idea/
/app/gradle/local.properties


.gradle/
app/.release.properties.bak
app/.release.properties.values
build/
local.properties
